<div class="row columns">
  <div class="usertype" *ngIf="!isLoggedIn">
    <button (click)="usertype='admin'">Admin</button>
    <button (click)="usertype='guest'">Guest</button>
  </div>

  <form action="#" (submit)="login('admin')" *ngIf="usertype == 'admin' && !isLoggedIn">
    <input type="text" id="email" name="email" [(ngModel)]="user.email" placeholder="Email">
    <input type="password" id="password" name="password" [(ngModel)]="user.password" placeholder="Password">
    <label class="result-message">{{ resultMessage }}</label>
    <button type="submit">Login</button>
    <button (click)="usertype='undefined'">Cancel</button>
  </form>

  <form action="#" (submit)="login('guest')" *ngIf="usertype == 'guest' && !isLoggedIn"> 
    <input type="text" [(ngModel)]="name" placeholder="Name" [ngModelOptions]="{standalone: true}">
    <input type="text" [(ngModel)]="phone" placeholder="Phone" [ngModelOptions]="{standalone: true}">
    <button type="submit">Submit</button>
    <button (click)="usertype='undefined'">Cancel</button>
  </form>

  <div class="chat-container" *ngFor="let item of messages | async">
    <a href="#">{{ item.name }}</a>
    <p>{{ item.message }}</p>
  </div>
  
  <input type="text" id="message" placeholder="Chat here..." (keyup.enter)="sendMessage($event.target.value)"
    [(ngModel)]="msgVal" />
</div>